$percent-100: 100%;
$primary-color: #0072ff;
$color-major: #0099ff;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;

$color-333: #333333;
$color-666: #666666;
$color-999: #999999;

$color-4c: #4c4c4c;

$family-regular: "PingFangSC Regular";
$family-semibold: "PingFangSC Semibold";
$family-medium: "PingFangSC Medium";
$family-bold: "PingFangSC Bold";
